
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="matches.css" rel="stylesheet">
    <title>Dating App</title>

</head>
<body>
    <nav>
        <div class="logo">
            <a href="userProfile.html" > <h4>Tinderish</h4></a>
        </div>
        <ul class="nav-links">
            <li>
                <a href="signIn.html">Login</a> 
            </li>
            <li>
                <a href="signUp.html">Create User</a> 
            </li>
            <li>
                <a href="userProfile.html">My Profil</a> 
            </li>
            <li>
                <a href="matches.html">Like</a> 
            </li>
            <li>
                <a href="myMatches.html">My Matches</a> 
            </li>
            
    
        </ul>

    </nav>

  
<h2>Like or Disslike</h2>

<h3>This page contains possibles matches for you</h3>
<br>


<div class="matches" id="matchesContainer">


</div>
<!--script src="../model/matches/classMatch.js"></script-->
<script src="../model/matches/matches.js"></script>
<!--script src="../model/matches/singleMatch.js" ></script-->


</body>

</html>
    