<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="myMatches.css" rel="stylesheet">
    <title>Dating App</title>


</head>
<body>
    <nav>
        <div class="logo">
            <a href="userProfile.html" > <h4>Dating</h4></a>
        </div>
        <ul class="nav-links">
            <li>
                <a href="signIn.html">Login</a> 
            </li>
            <li>
                <a href="signUp.html">Create User</a> 
            </li>
            <li>
                <a href="userProfile.html">My Profil</a> 
            </li>
            <li>
                <a href="matches.html">Matches</a> 
            </li>
            <li>
                <a href="myMatches.html">My Matches</a> 
            </li>
            
    
        </ul>
    </nav>


<section class="container content-section">
    <h2 class="section-header">Matches</h2>
    <div class="match-row">
        <span class="match-item match-header match-column">Name</span>
    

        <span class="match-quantity match-header match-column">Remove a match</span> 
    </div>
    <div class="match-items">  <!-- Denne sektion vil indeholde en liste over de matchede personer genereres via javascript filen myMatches.js-->
    </div>
  
</section>

<p id="displayArrayDataHere"></p>

<script src="../model/mymatches/matchFunction.js"></script>
<!--script src="../model/mymatches/deleteMatch.js"></script-->
<script src="../model/mymatches/classMyMatches.js"></script>
<!--script src="../model/delete/deleteMatch.js"></script-->



</body>
</html>